# macOS-specific files
.DS_Store

# environment variables
.env

# Node.JS
node_modules/
npm-debug.log*

# TeX outputs
*.aux
*.log
*.out

# rust
target/

# minimath
.build
/*.pdf
/fmt.lock

# latexindent
*.bak

# CMake
.cache
